body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Cor mais suave e neutra */
    color: #333; /* Cor mais suave para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 950px;
    background: #ffffff; /* Fundo branco para dar um visual mais limpo */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    text-align: center;
    border: 1px solid #e0e0e0; /* Borda suave para o contêiner */
}

.header {
    background-color: #004d80; /* Azul escuro para uma sensação mais profissional */
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header h1 {
    color: #ffffff; /* Texto branco para contrastar com o fundo */
    margin: 0;
}

.profile-img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    margin: 20px auto;
    width: 150px;
    border: 4px solid #004d80; /* Borda azul escuro para combinar com o tema */
}

.bio {
    text-align: justify;
    color: #555; /* Cor mais suave para o texto da biografia */
    font-size: 18px;
    line-height: 1.6;
    padding: 0 10px;
}

.contact {
    margin-top: 20px;
}

.contact h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #004d80; /* Azul escuro para os subtítulos */
}

.contact ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact ul li {
    font-size: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.contact ul li img {
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.contact a {
    color: #004d80; /* Azul escuro para os links */
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
    color: #006bb3; /* Azul mais claro para o hover */
}

.technologies {
    margin-top: 30px;
}

.technologies h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #004d80;
}

.technologies ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies ul li {
    font-size: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.technologies ul li img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
